*{
  margin: 0; padding: 0;
}

section{
    background-color: rgb(228, 126, 194) ;
}
.prf{
    margin: 15px;
    width: 50px;
    height: 50px;
    border-radius: 40%;
}
.prf_icn{
    text-align: center;
}
.mypage_top {
    font-family: Pacifico, sans-serif;
    font-size: 30px;
    color: #4ac0b9;
    text-align: center;
    padding: 20px 0;
}
.mypage_user_icon{
    position: relative;
    height: 155px;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    margin: 0 auto;
}
  /*タブのスタイル*/
.tab_item {
    width: calc(100%/2);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
.tab_item:hover {
    opacity: 0.75;
  }
  /*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}
  /*タブ切り替えの中身のスタイル*/
.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
  }
  /*選択されているタブのコンテンツのみを表示*/
#throw:checked ~ #throw_content,
#sell_items:checked ~ #sell_items_content{
    display: block;
}
  /*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
    background-color: #5ab4bd;
    color: #fff;
}
.tab ul {
    text-align: center;
    margin-left: -10px;
    /* letter-spacing: -.4em; タグ改行時の空白防止 */
}
.tab ul li{
      width: 240px;
    display: inline-block;
    margin-left: 10px;
	  /* letter-spacing: normal; 元に戻す */
  } 
li{
    list-style: none;
    display: inline-block;
}
.product-items {
    margin-bottom: 60px;
}
.product-item {
    display: inline-block;
    width: 40%;
    padding: 20px;
    margin-top: 40px;
}
.logo_header{
    height:60px;
    background-color: yellow;
    }
.logo{
    font-size: 25px;
    padding: 10px 40px;
}
.container{
    width:660px;
    margin: 0 auto;
    background-color :#e9e9e3;
}  
.selectbox{
    width: 90%;
    margin:1em auto;
  }
select ,.style_textarea {
    -webkit-appearance:none;
    appearance:none;
    width:100%;
    padding:1em 1em;
    box-sizing:border-box;
    font-size:1em;
    border:#ccc 1px solid;
    border-radius:0;
    background:#fff;
  }
.item_price{
  -webkit-appearance:none;
  appearance:none;
  width:50%;
  padding:1em 1em;
  box-sizing:border-box;
  font-size:1em;
  border:#ccc 1px solid;
  border-radius:0;
  background:#fff;
  }
.photo_space{
    place-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border: 1px dashed rgb(204, 204, 204);
    cursor: pointer;
    display: flex;
    height: 80px;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    position: relative;
    transition: all 0.5s ease-out 0s;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    
}
.btn{
    align-items: center;
}
.card-body{
  width: 14vw;
  height: 90%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-image: initial;
}
.item_cards{
  display: flex;
}
/* ドラッグアンドドロップ */
#inputFile {
  position: relative;
  padding: 180px 0 100px;
  text-align: center;
}

#dropArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  padding: 100px 0 0;
  border: 2px dashed #494949;
  background: rgba(22, 165, 191, 0);
  transition: all 0.25s cubic-bezier(0.21, 0.51, 0.51, 1);
}

#dropArea.dragover {
  border: 2px solid #16a5bf;
  background: rgba(22, 165, 191, 0.6);
}

#uploadFile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 300px;
  height: 80px;
  opacity: 0;
}

#inputFileWrap {
  position: relative;
  display: inline-block;
}

#btnInputFile,
#btnChangeFile {
  display: table;
  width: 300px;
}

#btnChangeFile {
  display: none;
}


#btnInputFile span,
#btnChangeFile span {
  position: relative;
  z-index: 2;
  display: table-cell;
  width: 300px;
  height: 80px;
  border: 1px solid #333;
  border-radius: 4px;
  background: #333;
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
}

#upFileWrap.selected #btnInputFile {
  display: none;
}

#upFileWrap.selected #btnChangeFile {
  display: table;
}